<% @posts = Post.all %>

<h2 style="text-align:center; border-bottom: 1px solid">Comments and reviews</h2>
<% @posts.each do |p| %>
  <p style="text-align:left; font-family:verdana"><b><%= p.name.blank? ? "Anonymous" : p.name %></b> <i style="font-size:12px"><%= p.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m-%d-%Y") %></i></p>
  <p style="text-align:left"><%= p.text %></p>
  <hr>
  <br>
<% end %>
<%= simple_form_for @post, method: :post, :class => "submit-comment", :remote => true do |f| %>
  <%= f.text_field :name, :placeholder => "Name", :class => "comment-name" %>
  <%= f.text_area :text, :placeholder => "Comment", :class => "comment-text" %>
  <%= f.submit "Submit", :class => "comment-submit" %>
<% end %>