<div id="footer">
  <div style="padding-top:10px;">
    <a href="https://www.facebook.com/OysterMom.Oysters/" target="_blank"><%= image_tag "facebook.png", :class => "sm-logo" %></a>
    <a href="http://oystermom.blogspot.com/" target="_blank"><%= image_tag "blogspot.png", :class => "sm-logo" %></a>
    <a href="https://www.instagram.com/keller_oystermom/" target="_blank"><%= image_tag "instagram.png", :class => "sm-logo" %></a>
    <% if user_signed_in? %><%= link_to('Logout', destroy_user_session_path, :class => "pull-right btn btn-default", :style => "margin-right:20px; margin-top:20px", :method => :delete) %><% else %><button class="pull-right btn btn-primary" data-toggle="modal" data-target="#login" style="margin-right:20px; margin-top:20px">Admin Login</button><% end %>
  </div>
</div>

<!-- Log In Modal -->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <%= render 'devise/sessions/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>